*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
.main-about{
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-wrap: nowrap;
	overflow: hidden;
}
.left-about, .right-about{
	flex: 0 0 50vw;
}
.left-about{
	padding: 50px;
}
.left-about h1{
	color: #3d3d3d;
	font-size: 60pt;
	font-family: "Gotham Bold", sans-serif;
	margin-bottom: 40px;
}
.right-about{
	background-size: cover;
	background-position: center;
	transition: background .2s;
}
.left-about{
	display: flex;
	align-items: center;
}
.left-about .title-about, .left-skills .title-skills{
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
	transform: rotate(-90deg);
	letter-spacing: 0.6em;
	color: #3d3d3d;
	overflow: auto;
	position: absolute;
	left: 0;
}
.title-about h3{
	overflow: auto;
}
.content-about{
	margin-left: 80px;
}
.content-about p{
	font-family: "Gotham", sans-serif;
	line-height: 2em;
	color: rgba(0,0,0,.5);
	font-size: 20pt;
}
.mouse{
	position: relative;
	cursor: pointer;
}
.mouse:before{
	background-image: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
	width: 119px;
	height: 7px;
	position: absolute;
	bottom: 0;
	z-index: -2;
	content: "";
	transition: all .3s;
}
.mouse:hover{
	color: #fff;
}
.mouse:hover:before{
	height: 100%;
}
button{
	padding: 18px 3px;
	margin: 30px 0;
	font-family: "Nevis", sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	border: none;
	background-image: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
	color: #fff;
	cursor: pointer;
}
button span{
	background: #fff;
	color: #000;
	padding: 15px 30px;
	transition: all .3s;
	letter-spacing: 0.3em;
}
button:hover span{
	background: transparent;
	color: #fff;
}
button a{
	text-decoration: none;
}
.bottom-cursor{
	position: absolute;
	z-index: 8000;
	bottom: 0;
	width: 100vw;
	text-align: center;
	animation: 1s infinite bounce;
}
.bottom-cursor img{
	cursor: pointer;
}
@keyframes bounce{
	50%{
		bottom: -20px;
	}
	100%{
		bottom: 0;
	}
}
.main-timeline, .main-skills{
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	padding: 50px;
	justify-content: space-between;
	overflow: hidden;
}
.main-timeline{
	background: #000;
}
.left-timeline{
	width: 40px;
	height: calc(100vh - 100px);
	position: relative;
	display: flex;
	align-items: center;
}
.right-timeline{
	flex: 0 0 100%;
	height: 50vh;
}
.left-timeline .title-timeline{
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 20px;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: 20px;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 20px;
    -o-transform: rotate(-90deg);
    -o-transform-origin: 20px;
    transform: rotate(-90deg);
    transform-origin: 20px;
	letter-spacing: 0.6em;
	color: #ecf0f1;
	position: absolute;
	white-space:nowrap;
	bottom: calc(50% - (330px / 2));
	text-align: center;
}
.left-timeline .title-timeline h3{
	/*overflow: auto;*/
	text-align: center;
}
.title-timeline{
	/*width: 10px;*/
	overflow: auto;
}
.graduate i{
  background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}
.left-skills{
	display: flex;
	align-items: center;
	/*position: relative;*/
}
.right-skills{
	flex: 0 0 100%;
	padding-left: 100px;
}
.title-skills-container h2{
	color: rgba(0,0,0,.8);
	font-family: "Gotham Bold", sans-serif;
	font-size: 40px;
	transition: all .3s;
}
.a-categorie{
	padding: 10px 0;
}
.a-categorie:hover .title-skills-container h2{
	color: rgba(0,0,0,.8);
}
.icons-wrapper{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 20px 0;
}
.an-icon{
	flex: 0 0 125px;
	position: relative;
	text-align: center;
	padding-top: 40px;
}
.an-icon i{
	color: rgba(0,0,0,.3);
	font-size: 50px;
}
.descriptif-holder{
	position: absolute;
	width: 200%;
	text-align: center;
	top: -10px;
	opacity: 0;
	transition: all .3s;
	left: -50%;
	background: #3D3D3D;
	border-radius: 5px;
	padding: 5px 0;
}
.level{
	background: rgba(255,255,255,.3);
	height: 2px;
	border-radius: 2px;
	width: 90%;
	margin: 5px auto;
}
.level-colored{
 	background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
 	height: 2px;
}
.an-icon p{
	width: auto;
	padding: 5px;
	color: #fff;
	font-family: "Gotham", sans-serif;
	max-width: 80%;
	margin: 0 auto;
	position: relative;
}
.an-icon .descriptif-holder:after{
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(61, 61, 61, 0);
	border-top-color: #3D3D3D;
	border-width: 8px;
	margin-left: -8px;
}
.an-icon:hover .descriptif-holder{
	top: -20px;
	opacity: 1;
}
.an-icon:hover i{
  background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}

@media screen and (max-width: 1300px){
	.content-about p{
		font-size: 15pt;
			line-height: 1.7em;
	}
	button{
		font-size: 13px;
	}
	.left-about h1{
		font-size: 40pt;
		margin-bottom: 20px;
	}
	.mouse:before{
		width: 90px;
	}
	.icons-wrapper{
		padding: 0;
	}
	.an-icon{
		flex: 0 0 100px;
	}
	.an-icon i{
		font-size: 40px;
	}
	.title-skills-container h2{
		font-size: 30px;
	}
	.left-about .title-about, .left-skills .title-skills{{
		font-size: 14px;
	}
}