.main-contact{
	background: #000;
	width: 100vw;
	height: 100vh;
	padding: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.title-contact{
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
	transform: rotate(-90deg);
	letter-spacing: 0.6em;
	color: #fff;
	overflow: auto;
	position: absolute;
	left: 0;	
}
.content-contact{
	color: #fff;
	/*margin-left: 150px;*/
	flex: 0 0 85vw;
}
.content-contact h1{
	font-family: "Gotham Bold", sans-serif;
	font-size: 60pt;
	margin-bottom: 20px;
}
.small-nickname{
	opacity: .2;
	font-size: 40px;
}
.content-contact h2{
	font-family: "Gotham Bold", sans-serif;
	line-height: 1.5em;
	font-size: 30pt;
	color: rgba(255, 255, 255, .6);
}
.align-tel-mail{
	display: flex;
	margin: 40px 0;
	/*justify-content: center;*/
}
.align-tel-mail a{
	color: #fff;
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 30px;
	background: transparent;
	transition: all .3s;
	font-size: 14pt;
	letter-spacing: 0.2em;
}
.align-tel-mail a:hover{
	color: #000;
	background: #fff;
}
.align-tel-mail a i{
	margin-right: 10px;
}
.social-networks ul{
	display: flex;
}
.social-networks ul li{
	margin: 0 20px;
	font-size: 25pt;
	border-radius: 100%;
	background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
	padding: 3px;
	cursor: pointer;
	transition: all .3s;
	list-style: none;
	text-align: center;
}
.social-networks ul li span{
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	border-radius: 100%;
 	transition: all .3s;
}
.social-networks ul li a{
	text-decoration: none;
}
.social-networks ul li span i{
/*  background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #fff;
  transition: all .3s;
}
.social-networks ul li:hover span{
	background: transparent;
	color: #fff;
}
.social-networks ul li:hover span i{
	background: transparent;
	color: #fff;
    -webkit-text-fill-color: #fff;
}