*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container-title-culture{
	position: relative;
	background: #000;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.container-title-culture h1{
	color: #fff;
	font-family: "Gotham Bold", sans-serif;
	font-size: 70pt;
}
/*.culture-title-holder{
	text-align: center;
}*/
.container-title-culture .year{
  background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}
.container-title-culture h2{
	color: rgba(255,255,255,.3);
	font-family: "Gotham", sans-serif;
	font-size: 30pt;
	margin-top: 20px;
}
.container-title-culture i{
  background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;	
}
.container-title-culture .blob{
	position: absolute;
	z-index: 1;
}
.first-blob{
	left: -200px;
	top: -150px;
}
.second-blob{
	right: -200px;
	top: -150px;
	opacity: .4;
}
.third-blob{
	bottom: -200px;
	right: -100px;
	opacity: .3;
}
.six-blob{
	bottom: -250px;
	left: -200px;
	opacity: .5;
}
.main-movies, .main-music, .main-shows{
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	padding: 50px;
	justify-content: space-between;
	overflow: hidden;
}
.main-music{
	background: #000;
}
.left-music, .left-movies, .left-shows{
	display: flex;
	align-items: center;
}
.music-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex: 0 0 90%;
}
.music-container .a-music{
	flex-basis: 25%;
	position: relative;
	margin: 50px 30px;
}
.a-music > img{
	width: 220px;
	border-radius: 10px;
	border: 4px solid rgba(255,255,255,.1);
	/*filter: grayscale(50%);*/
}
.music-infos, .movie-infos, .shows-infos{
	background: #fff;
	position: absolute;
	/*right: 40px;*/
	padding: 15px;
	bottom: -10px;
	left: -30px;
	border-radius: 2px;
	color: #000;
	left: -60px;
	opacity: 0;
	transition: all .3s;
}
.a-music:hover .music-infos{
	opacity: 1;
	left: -30px;
}
.music-infos h5, .movie-infos h5, .shows-infos{
	font-family: "Gotham", sans-serif;
}
.main-music .left-music h3, .left-movie h3, .left-shows h3{
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
	transform: rotate(-90deg);
	letter-spacing: 0.6em;
	color: #fff;
	overflow: auto;
	position: absolute;
	left: 0;
}
.left-movie h3, .left-shows h3{
	color: #3d3d3d;
	text-align: center;
}
.right-movie, .right-shows{
	display: flex;
	align-items: center;
	flex: 0 0 90%;
	flex-wrap: wrap;
	justify-content: center;
	/*flex-wrap: wrap;*/
	/*justify-content: center;*/
}
.a-movie, .a-show{
	/*flex-basis: 100%;*/
	/*flex: 0 0 25%;*/
	/*text-align: center;*/
	padding: 30px;
	flex-basis: 25%;
	position: relative;
	margin: 0px 30px;
	position: relative;
}
.a-movie img, .a-show img{
	border-radius: 5px;
	width: 80%;
	/*opacity: .6;*/
	transition: all .3s;
}
.a-show img{
	width: 70%;
}
.a-movie:hover img, .a-show:hover img{
	opacity: 1;
}
.movie-infos, .shows-infos{
	background: #000;
	bottom: 20px;
	left: -30px;
	opacity: 0;
	transition: all .3s;
	/*display: none;*/
	color: #fff;
}
.a-movie:hover .movie-infos, .a-show:hover .shows-infos{
	/*visibility: visible;*/
	/*display: block;*/
	left: 0;
	opacity: 1;
}