.open-menu{
	position: fixed;
	z-index: 10;
	right: 30px;
	top: 30px;
	cursor: pointer;
	overflow: auto;
}
.logo-principal-all{
	position: fixed;
	z-index: 11;
	left: 35px;
	top: 30px;
	cursor: pointer;
	transition: all .3s;
}
.logo-principal-all a{
	opacity: 1;
	transition: all .3s;
}
.logo-principal-all a:hover{
	opacity: .7;
}
.a-bar-up{
	height: 3px;
	background: #000;
	width: 40px;
	border-radius: 10px;
	transition: all .4s;
}
.a-bar-down{
	height: 3px;
	background: #000;
	width: 25px;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 10px;
	transition: all .4s;
}
.open-menu:hover .a-bar-up{
	width: 25px;
	margin-left: 15px;
}
.open-menu:hover .a-bar-down{
	width: 40px;
	margin-left: 0;
}

.white-menu .a-bar-up, .white-menu .a-bar-down{
	background: #fff;
}
.menu{
	z-index: 9000;
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 1);
	font-size: 50pt;
	opacity: 0;
	left: 100vw;
}
.menu > ul{
	flex: 0 0 40%;
	text-align: center;
	/*background: #fff;*/
}
.menu > ul > li{
	opacity: 0;
	cursor: pointer;
	width: 100%;
	/*background: red;*/
	margin: 25px 0;
	font-family: "Gotham Bold", sans-serif;
	transition: all .3s;
	list-style: none;
}
.menu > ul > li > a{
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.menu .close{
	position: absolute;
	top: 20px;
	cursor: pointer;
	font-family: "Gotham", sans-serif;
	right: 30px;
	transform: rotate(0deg);
	transition: all .3s;
}
.menu .logo-white-menu{
	position: absolute;
	top: 30px;
	cursor: pointer;
	font-family: "Gotham", sans-serif;
	left: 35px;
	transition: all .2s;	
}
.menu .logo-white-menu:hover{
	opacity: .7;
}
.close:hover{
	transform: rotate(90deg);
}
.tiret{
	height: 3px;
	width: 0px;
	transition: width .3;
	background: #fff;
	/*background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);*/
	margin-right: 20px;
	/*position: absolute;*/
}
.menu > ul > li:hover .tiret{
	width: 80px;
	transition: all .3s;
}
.submenu .submenu-container{
	height: 0;
	opacity: 0;
	text-align: left;
}
.submenu-container li{
	color: #fff;
	font-family: "Gotham Bold", sans-serif;
	opacity: 1;
	font-size: 40pt;
	list-style: none;
	padding: 20px 0;
	transition: all .3s;
	width: auto;
	display: none;
}
.submenu-container li .tiretsub{
	height: 3px;
	width: 0px;
	transition: width .3;
	background: #fff;
	/*background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);*/
	margin-right: 20px;	
}
.submenu-container li a{
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
}
.submenu-container li:hover .tiretsub{
	width: 40px;
	transition: all .3s;	
}

@media screen and (max-width: 1300px){
	.menu{
		font-size: 40pt;
	}
	.submenu-container li{
		font-size: 30pt;
		padding: 15px 0;
	}
	.logo-principal-all img{
		width: 40px;
	}
}