*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}
*:focus{
	outline: none;
}
.container-all{
	position: relative;
	background: #fff;
	width: 100vw;
	height: 100vh;
}
.background-title{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
.background-title h1{
	color: rgba(0,0,0,.05);
	font-size: 120pt;
	font-family: "Gotham Bold", sans-serif;
	text-transform: uppercase;
	line-height: 1.5em;
	letter-spacing: .1em;
}
.title-principal{
	position: absolute;
	z-index: 8000;
	color: rgba(0,0,0,.3);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.container-title-principal{
	position: relative;
}
.title-principal h2{
	font-family: "Nevis", sans-serif;
	text-transform: uppercase;
	line-height: 1.5em;
	letter-spacing: .2em;
	font-size: 30pt;
}
.title-principal h1.principalh1, .musician, .designer, .photograph{
	font-family: "Gotham Bold", sans-serif;
	text-transform: uppercase;
	line-height: 1.5em;
	letter-spacing: .2em;
	font-size: 60pt;
  	background: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	opacity: 0;
  	/*display: none;*/
}
.musician, .designer, .photograph{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 99999;
}