@media (prefers-color-scheme: dark) {
    :root {
        --black: #ffffff;
        --white: #000000;
        --blackLight: #cccccc;
        --blackLightRgb: 77, 77, 77;
        --whiteLight: #080808;
        --brightGray: #121212;
        --gray: #212121;
        --mediumGray: #a8a8a8;
        --darkGray: #999999;
        --darkestGray: #8a8a8a;
        --lightGray: #333333;
        --blackRgb: 255, 255, 255;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --black: #000000;
        --white: #ffffff;
        --whiteLight: #ffffff;
        --blackLight: #333333;
        --blackLightRgb: 51, 51, 51;
        --brightGray: #eeeeee;
        --gray: #dddddd;
        --mediumGray: #6f6f6f;
        --darkGray: #676767;
        --darkestGray: #757575;
        --lightGray: #d9d9d9;
        --blackRgb: 0, 0, 0;
    }
}

// Principals colors
$black: var(--black);
$blackRgb: var(--blackRgb);
$white: var(--white);

// Main color
$blackLight: var(--blackLight);
$blackLightRgb: var(--blackLightRgb);
$whiteLight: var(--whiteLight);

// Gray
$brightGray: var(--brightGray);
$lightGray: var(--lightGray);
$gray: var(--gray);
$mediumGray: var(--mediumGray);
$darkGray: var(--darkGray);
$darkestGray: var(--darkestGray);

// Main gradient
$yellow: #f5bf89;
$orange: #f0976e;
$red: #ed6673;
$pink: #bd4374;
$purple: #753776;
$blue: #49a39c;

$primaryGradient: linear-gradient(to right top, $yellow, $orange, $red, $pink, $purple, $blue);
