@font-face {
    font-family: 'Antikern';
    src: url('../fonts/Antikern-Regular.woff2') format('woff2'),
        url('../fonts/Antikern-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ancient';
    src: url('../fonts/Ancient-Medium.woff2') format('woff2'),
        url('../fonts/Ancient-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heavy Heap';
    src: url('../fonts/HeavyHeapRg-Regular.woff2') format('woff2'),
        url('../fonts/HeavyHeapRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gruvilicious';
    src: url('../fonts/GruviliciousRegular.woff2') format('woff2'),
        url('../fonts/GruviliciousRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JMH Psychedelic CAPS';
    src: url('../fonts/JMHPsychedelicCAPS-Regular.woff2') format('woff2'),
        url('../fonts/JMHPsychedelicCAPS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$jmhPysche: 'JMH Psychedelic CAPS', sans-serif;
$gruvilicious: 'Gruvilicious', sans-serif;
$heavyHeap: 'Heavy Heap', sans-serif;
$antikern: 'Antikern', sans-serif;
$ancient: 'Ancient', sans-serif;