@media screen and (max-width: $screen-lg) {
    body {
        main {
            [id^='container'] {
                width: 90vw !important;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    body {
        main {
            height: 100dvh;

            [id^='container'] {
                width: 100vw !important;
            }
        }
    }
}
