// Core
@import '_colors';
@import '_fonts';
@import '_reset';

@import 'Menu/menu';
@import 'About/about';
@import 'Error/error404';

main {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .page-transition-enter-active,
    .page-transition-leave-active {
        transition: opacity 0.5s ease;
    }
    .page-transition-enter-from,
    .page-transition-leave-to {
        opacity: 0;
    }
    [id^="container"] {
        margin: 50px auto;
        width: 70vw;
        padding: 0 50px;
    }
}