@import 'fonts';
@import 'responsive';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

$menuWidth: 460px;

*::selection {
    @apply text-white bg-slate-800;
}

#mainMenu {
    width: $menuWidth;
    left: calc(50% - calc($menuWidth /2));

    @media screen and (max-width: $mobile) {
        width: 90%;
        left: 5%;
    }
}

@layer components {
    .main-text {
        @apply text-slate-500 leading-7 font-sans
    }
    .me-link {
        @apply text-slate-800 relative z-20 transition-all before:rounded-sm before:w-0 before:absolute before:h-full before:top-0 before:left-0 before:-z-10 hover:text-white before:transition-all hover:before:w-full px-1 dark:text-slate-200
    }
}
