<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thomas Lamothe - Software Developer</title>

    <meta name="title" content="Thomas Lamothe - Software Developer">
    <meta name="robots" content="index, follow">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/icon.png">
    <link rel="preconnect" href="https://admin.thomaslamothe.com" crossorigin>

    <% if (!isDev) { %>
      <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-inline' 'unsafe-eval' data:; worker-src blob:" />
      <meta name="description" content="I'm Thomas, a french software developer. I help design, build, and maintain a globally deployed, multi-tenant SaaS platform">

      <meta name="twitter:title" content="Thomas Lamothe - Software Developer">
      <meta name="twitter:description" content="I'm Thomas, a french software developer. I help design, build, and maintain a globally deployed, multi-tenant SaaS platform">
      <meta name="twitter:image" content="https://thomaslamothe.com/img/og/opengraph.jpeg">
      <meta name="twitter:creator" content="@TommyFromCC">

      <meta property="og:type" content="website" />
      <meta property="og:title" content="Thomas Lamothe - Software Developer" />
      <meta property="og:description" content="I'm Thomas, a french software developer. I help design, build, and maintain a globally deployed, multi-tenant SaaS platform" />
      <meta property="og:image" content="https://thomaslamothe.com/img/og/opengraph.jpeg" />
      <meta property="og:url" content="https://thomaslamothe.com" />
      <meta property="og:site_name" content="Thomas Lamothe - Software developer" />

      <script async src="https://www.googletagmanager.com/gtag/js?id=G-K6H9FVRPH4"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-K6H9FVRPH4', {
              'page_title': document.title,
              'page_path': window.location.pathname
          });
      </script>
    <% } %>
  </head>
  <body class="dark:bg-black overflow-x-hidden">
    <div id="app"></div>
    <script type="module" src="/src/main.js" rel="preload" as="script"></script>
  </body>
</html>
