// Core
@import '../_colors';
@import '../_fonts';
@import '../_reset';

@import './_stack-responsive';

body {
    main {
        #stackWrapper {
            margin-top: 50px;

            .stack-flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 50px;

                .a-skill {
                    flex: 0 0 10%;
                    text-align: center;

                    svg {
                        fill: $lightGray;
                        width: 100px;
                        transition: all 0.3s;
                    }
                    p {
                        text-align: center;
                        margin-top: 25px;
                        transition: all 0.3s;
                    }

                    &:hover {
                        svg {
                            fill: $primaryGradient;
                        }
                        p {
                            color: $blackLight !important;
                        }
                    }
                }
            }
        }
    }
}
