// Core
@import '../_colors';
@import '../_fonts';
@import '../_reset';

body {
  main {
    #stackWrapper {
      margin-top: 50px;

      .stack-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px;

        .a-skill {
          flex: 0 0 10%;
          text-align: center;

          svg {
            fill: $mediumGray;
            width: 100px!important;
          }
          p {
            text-align: center;
            margin-top: 25px;
          }
        }
      }
    }
  }
}