@import './fonts.css';
@import 'aos/dist/aos.css';

@import 'tailwindcss';

@theme {
    --font-sans: 'Geist', 'sans-serif';
    --font-mono: 'Google Sans Code', 'monospace';
    --font-gothic: 'Aktura Regular', 'serif';
    --font-serif: 'Playfair Display', 'serif';
}

:root {
    --menu-width: 550px;
    --responsive-mobile: 768px;
}

*::selection {
    @apply text-white bg-neutral-900;
}

#mainMenu {
    width: var(--menu-width);
    left: calc(50% - calc(var(--menu-width) / 2));
}

@media screen and (max-width: 768px) {
    #mainMenu {
        width: 90%;
        left: 5%;
    }
}

@layer components {
    .main-text {
        @apply text-black dark:text-neutral-300 leading-7 font-sans mb-3;
    }
    .me-link {
        @apply text-neutral-500 relative z-20 transition-all before:rounded-xs before:w-0 before:absolute before:h-full before:top-0 before:left-0 before:-z-10 hover:text-white before:transition-all hover:before:w-full px-1 dark:text-neutral-200;
    }
    .culture-loader {
        @apply animate-pulse bg-neutral-200 dark:bg-neutral-800;
    }
}
