@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$black: #343a40;
$grey: #adb5bd;
$gradient: linear-gradient(135deg,#ec0877 32.5%,#f93044 45%,#f75735 60%,#fe880e 70%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .coming-soon {
        width: 500px;
        text-align: center;

        .pill {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                background: $gradient;
                color: #fff;
                padding: 5px 15px;
                font-family: "Poppins", sans-serif;
                font-size: 10pt;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 20px;
                box-shadow: 0 0 10px $gradient;
            }
        }
        .desc-text {
            margin-top: 10px;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                color: $black;
            }
            p {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                color: $grey;
                line-height: 1.5em;
                font-size: 15pt;

                a {
                    text-decoration: none;
                    color: $black;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        background: $gradient;
                        height: 5px;
                        transition: width .3s;
                    }
                    &:hover:before {
                        width: 100%;
                        transition: width .3s;
                    }
                }
            }
        }
    }
}