@import "../responsive";

@media screen and (max-width: $screen-sm) {
    body {
        main {
            #aboutMe {
                flex-direction: column!important;

                .right {
                    margin: 0!important;
                    margin-top: 45px!important;
                }
            }
            div.a-list {
                flex-direction: column!important;

                .right {
                    margin-left: 0!important;
                    margin-top: 30px;

                    img {
                        &#locationImage {
                            width: 100%!important;
                        }
                    }
                }
            }
        }
    }
}