@import '_about-responsive';

main {
    #aboutMe {
        display: flex;

        .left {
            flex: 0 0 30%;

            img {
                width: 100%;
                border-radius: 40px;
                box-shadow: 0 0 50px rgba($blackRgb, 0.2);
            }
        }
        .right {
            margin-left: 40px;

            h1 {
                margin-bottom: 40px;

                span.finger {
                    cursor: pointer;
                }
            }
            p {
                &.high-margin {
                    margin-top: 35px;
                }

                a {
                    color: $blackLight;
                    position: relative;
                    transition: all 0.3s;

                    &:after {
                        content: '';
                        position: absolute;
                        left: -3px;
                        bottom: -3px;
                        width: 0;
                        background: $primaryGradient;
                        height: 2px;
                        z-index: -2;
                        transition: all 0.3s;
                    }
                    &:hover {
                        &:after {
                            width: calc(100% + 6px);
                        }
                    }
                }
            }
        }
    }
    div.a-list {
        margin-top: 40px;
        display: flex;

        .left {
            flex: 0 0 30%;

            p {
                position: sticky;
                top: 15px;
                color: $blackLight;
                font-family: $sourceSans;
                font-size: $subTitleFontSize;
                font-weight: bolder;
                letter-spacing: -1.5px;
            }
        }
        .right {
            margin-left: 40px;

            img {
                &#locationImage {
                    width: 650px;
                    border-radius: 25px;
                    box-shadow: 0 0 50px rgba($blackRgb, 0.15);
                }
            }
            ul {
                & > li {
                    list-style: none;
                    position: relative;
                    padding-left: 20px;
                    padding-bottom: 15px;

                    &:not(:last-child) {
                        &:after {
                            position: absolute;
                            content: '';
                            left: 0;
                            width: 2px;
                            height: 100%;
                            background: $gray;
                            top: 10px;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: '';
                        height: 10px;
                        width: 10px;
                        background: $white;
                        left: -6px;
                        z-index: 99;
                        top: 5px;
                        border: 2px solid $gray;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
