@import '../_responsive';

@media screen and (max-width: $screen-lg) {
    body {
        main {
            .a-culture-block {
                .a-title {
                    width: 90vw !important;
                }
                .culture-marquee {
                    .music-wrapper {
                        width: 90vw !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    body {
        main {
            .a-culture-block {
                .culture-marquee {
                    .a-culture {
                        width: 300px !important;

                        .poster {
                            height: 400px !important;
                        }
                    }
                    .music-wrapper {
                        gap: 15px !important;

                        .a-music {
                            flex: 0 0 47% !important;

                            img {
                                width: 100%;
                                border-radius: 15px;
                                border: 2px solid transparent;
                                transition: all 0.3s;
                            }
                            p {
                                color: $white;
                            }
                            h6 {
                                color: $mediumGray;
                                font-family: $inter;
                            }
                            &:hover {
                                transform: scale(1.1);
                                background: $primaryGradient;

                                img {
                                    border: 2px solid $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
